
    *
    {
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
    :root
    {
      --indogo: #500794;
    }
    .container_home
    {
        background: linear-gradient( to right,rgb(31, 1, 1),blue,rgb(31, 70, 31));
        display: flex;
        color: white;
        margin: 5px 5px 5px 5px;
        text-align:center;
        border-radius: 15px;
        
    }
    .container_home .img1
    {
        margin-top: 5px;
    }
    .social_media
    {
        align-items:center;
        justify-content: space-between;
        border: none;
        width: 100%;
        font-size: 30px;
        margin: 5px;
    }
    .social_media i
    {
        justify-content: space-between;
    }
    .objectives
    {
        margin: 5px ;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .qualification
    {
        border-radius: 15px;
        background-color: black;
        color: white;
    }
     .line
    {
        color: red;
        text-decoration: underline;
        background-color: red;
        border-bottom: 2px soild red;
        display: inline-block;
        line-height: 0.85;
    }
    .sslc
    {
        background: orchid;
    
        border-radius: 15px;
        margin: 5px;
        color: rgb(204, 76, 76);
        font-size: 10px;
        margin: 3px;
        font-size:16px;
        font-weight: 16px;
        
    }
    .sslc:hover
    {
      transition: 1s;
      transform: rotate(180deg)
    }
    .hsc
    {
        background: yellow;
        border-radius: 15px;
        margin: 5px;
        color: rgb(218, 66, 66);
        font-size: 10px;
        margin: 3px;
        font-size: 16px;
        font-weight: 16px;
    }
    .degree
    {
        background: rgb(10, 6, 243);
        border-radius: 15px;
        margin: 5px;
        color: rgb(206, 54, 54);
        font-size: 10px;
        margin: 3px;
        font-size: 16px;
        font-weight: 16px;
    }
    /*project*/
    
    .consec
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: centers;
    }
    .consec img
    {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    .social_media
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: centers; 
    }
    .social_media img
    {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    #button
    {
       display: inline-block;
       background-color:indigo;
       width: 50px;
       height: 50px;
       text-align: center;
       border-radius: 4px;
       position: fixed;
       bottom: 30px;
       right: 30px;
       transition: background-color .3s,opacity .5s,visibility .5s;
       opacity: 0;
       visibility: hidden;
       z-index: 1000;
    }
    #button::after
    {
      content: "\f077";
      font-weight: normal;
      font-family: FontAwesome;
      font-style: normal;
      font-size: 2em;
      line-height: 50px;
      color: #fff;
      border-radius: 50%;
      
    }
    .edu_life p
    {
      padding:5%;
    }
    #button:hover
    {
      cursor: pointer;
      background-color: rgb(7, 7, 7);
      border-radius: 50%;
      border: none;
      text-decoration: none;
    }
    #button:active
    {
      background-color: #555;
      border: none;
      text-decoration: none;
    }
    #button.show
    {
      opacity: 1;
      visibility: visible;
      border: none;
      text-decoration: none;
    
    }
    .contact , .about
    {
      border: 2px solid indigo;
      border-radius: 9px;
    }
    .conback
    {
      background-image: url("undraw_contact-us-15o2.svg");
      background-repeat: no-repeat;
      background-position: left;
    }
    body
    {
      background-color: black;
      overflow-x:hidden;
    }
    .contact , .about
    {
        box-shadow:10px 5px 10px 5px rgba(133, 8, 236, 0.5);
    }
    .pro:hover
    {
        opacity: 0.3;
    }
    .resume
    {
        margin-bottom: 10px;
    }
    
    
    
    
    .card
    {
      border: 1px soild indigo;
    }
    @media (min-width:500px)
    {
      #button
      {
        margin: 30px;
      }
    }
    @media (max-width:1780px)
    {
      .container_home, .contact
      {
        width: 50%;
        margin: 0 25% 0 25%;
      }
    }
    @media (max-width:500px)
    {
      .container_home, .contact
      {
        width: 100%;
        margin:0;
      }
    }
    @media (max-width:300px)
    {
      .container_home, .contact
      {
        width: 100%;
        margin: 0;
    
      }
    }
    @media (max-width:1780px)
    {
      .team .about
      {
        width: 50%;
        margin: 0 25% 0 25%;
      }
    }
    @media (max-width:500px)
    {
      .team .about
      {
        width: 100%;
        margin: 0;
      }
    }
    @media (max-width:300px)
    {
      .team  .about
      {
        width: 100%;
        margin: 0;
      }
    }
    
    